@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden-scroll::-webkit-scrollbar {
    display: none;
    width: 0px !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
}